.license *{
    color: #000 !important;
}
.license{
    padding: 10vw 0;
    background-image: url(../../assets/img/japane2.png);
    height: 100vh;
    background-size: 100%;
}
.row__lic{
    display: grid;
    grid-template-columns: 57% 40%;
    align-items: center;
    justify-content: space-between;
}
.row__lic img{
    width: 24vw;
    position: relative;
    z-index: 9;
}

.row__lic h1{
    font-size: 2.7vw;
    margin-top: 4vw;
}
.row__lic p{
    font-size: 1.4vw;
    opacity: .6;
    margin-top: 2vw;
    line-height: 2vw;
}